@font-face {
  font-family: 'OpenSansLight';
  src: url('OpenSans-Light-webfont.woff') format('woff'),
       url('OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url('OpenSans-LightItalic-webfont.woff') format('woff'),
       url('OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('OpenSans-Regular-webfont.woff') format('woff'),
       url('OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

