---
layout: page
title: Sponsori
header: Pages
group: navigation
sponsors:
 - url: http://axemblr.com
   logo: assets/sponsor-logos/axemblr-logo-transparent.png
   name: Axemblr Software Solutions
   logo-width: 96

 - url: http://ceata.org/
   logo: assets/sponsor-logos/ceata-questrial-3.png
   name: Ceata.org
   logo-width: 128

 - url: http://www.teamnet.ro/
   logo: assets/sponsor-logos/teamnet.jpg
   name: Teamnet Internațional
   logo-width: 96

 - url: http://myadobe.ro/
   logo: assets/sponsor-logos/adobe-logo.png
   name: Adobe România
   logo-width: 72

 - url: https://www.facebook.com/CegekaRomania
   logo: assets/sponsor-logos/cegeka.jpg
   name: Cegeka România
   logo-width: 96

 - url: http://java2days.com/
   logo: assets/sponsor-logos/java2days_logo2012.png
   name: Java2Days Bulgaria
   logo-width: 128

 - url: http://www.centeractive.com
   logo: assets/sponsor-logos/retrospective_logo.png
   name: Centeractive AG
   logo-width: 128

 - url: http://www.ibm.com/ro/ro
   logo: assets/sponsor-logos/logo_ibm.jpg
   name: IBM Logo
   logo-width: 128

 - url: http://www.gtug.ro/
   logo: assets/sponsor-logos/gdg-bucharest.png
   name: GTUG Bucharest logo
   logo-width: 164

 - url: http://www.anritsu.com/en-GB/
   logo: assets/sponsor-logos/anritsu.png
   name: Anritsu Logo
   logo-width: 164

 - url: http://blog.1and1.ro/
   logo: assets/sponsor-logos/1and1.jpg
   name: 1&1 Internet Developemnt Logo
   logo-width: 92

 - url: http://vauban.ro/
   logo: assets/sponsor-logos/vauban.png
   name: Vauban Logo
   logo-width: 150

 - url: http://www.citrix.com/
   logo: assets/sponsor-logos/citrix.gif
   name: Citrix
   logo-width: 150

 - url: http://www.rga.com/
   logo: assets/sponsor-logos/r_ga.png
   name: R/GA
   logo-width: 150

 - url: http://www.oracle.com/ro/index.html
   logo: assets/sponsor-logos/oracle.jpg
   name: Oracle
   logo-width: 150
---

<style type="text/css">
.sponsor-container { display: table; }
.sponsor-cell { display: table-cell; width: 200px; height: 150px; text-align: center; vertical-align: middle;}
.sponsor-row { display: table-row; margin-bottom: 15px; }
</style>

Sponsorii care au susținut edițiile JUG:

<div class="sponsor-container">
{% for sponsor in page.sponsors %}
{% capture modulo %}{{ forloop.index0 | mod:4 }}{% endcapture %}
{% if modulo == '0' or forloop.first %}
<div class="sponsor-row">
{% endif %}
<div class="sponsor-cell">
  <a href="{{ sponsor.url }}" title="{{ sponsor.name }}">
   <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" width="{{ sponsor.logo-width }}"  border="0"/>
  </a>
</div>
{% if modulo == '3' or forloop.last %}
</div>
{% endif %}
{% endfor %}
</div>
